@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;700&family=Raleway:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #252525;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo {
    width: 220px;
    height: auto;
    color: #ffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 6%;
    background-color: transparent;
}

.nav {
    display: flex;
}

.navlist {
    display: flex;
}

.navlist a {
    font-size: 16px;
    color: #ffff;
    text-transform: capitalize;
    font-weight: 700;
    padding: 10px 20px;
    transition: all .5s ease;
}

.navlist li {
    transition: .75s;
}

.navlist li:hover {
    transition: .75s;
    transform: scale(1.1);
}

.navlist a:hover {
    color:#d3d3d4;
    
}

#menu-icon {
    font-size: 35px;
    color: #ffff;
    z-index: 100;
    cursor: pointer;
}

.home {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, fr);
    align-items: center;
    background-image: url("assets/Civic.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 10%;
}

.home-text {
    padding: 0 10%;
}

.home-text h5 {
    color: #030303;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.home-text h1 {
    color: #030303;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -3px;
    font-size: 88px;
}

.home-text p {
    color: #030303;
    font-size: 16px;
    text-transform: capitalize;
    max-width: 560px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 30px;
}

.home-btn {
    display: inline-block;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: 2px solid #ffff;
    padding: 10px 20px;
    background-color: #ffff;
    transition: .5s;
    margin-bottom: 10%;
}

.home-btn:hover {
    background-color: transparent;
    color: #030303;
}

.services {
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 0 5%;
    top: 100%;
}

#section-2 {
    top: 200%;
}

#section-3 {
    top: 300%;
}

.services h2 {
    padding-top: 5%;
    color: #ffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 46px;
}

.services-text h5 {
    color: #ffff;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5%;
}

#text-2 h5 {
    text-align: end;
}

.services-text p {
    color: #ffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
}

#text-2 p {
    text-align: end;
}

.images {
    border-radius: 15px;
    box-shadow: 
    6px 6px 6px #030303,
    -6px -6px 6px #030303;
}

.vm__img {
    border-radius: 15px;
    position: absolute;
    width: 120%;
    top: -45%;
    left: 76%;
    z-index: -1;
    box-shadow: 
    6px 6px 6px #030303,
    -6px -6px 6px #030303;
}

.img-1 {
    position: absolute;
    top: 40%;
}

.pj__img {
    border-radius: 15px;
    position: absolute;
    width: 120%;
    top: -40%;
    right: 76%;
    z-index: -1;
    box-shadow: 
    6px 6px 6px #030303,
    -6px -6px 6px #030303;
}

.img-2 {
    position: absolute;
    top: 30%;
    right: 5%;
    transform: translateY(0);
}

.ac__img {
    border-radius: 15px;
    position: absolute;
    width: 120%;
    top: -45%;
    left: 76%;
    z-index: -1;
    box-shadow: 
    6px 6px 6px #030303,
    -6px -6px 6px #030303;
}

.img-3 {
    position: absolute;
    top: 30%;  
}

.schedule__text {
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 0 5%;
    top: 400%;
}

@media (min-width: 751px) and (max-width: 2400px) {
    header {
        padding: 25px 3%;
        transition: .3s;
    }

    .home {
        height: 100vh;
        background-size: contain;
        background-position: center;
    }

    .home-text h1 {
        font-size: 60px;
        transition: .5s;
    }

    .home-btn {
        padding: 8px 18px;
        transition: .5s;
    }

    #menu-icon {
        display: none;
    }

    .images {
        max-width: 100%;
        height: auto;
    }

}

@media (max-width: 750px) {

    header {
        height: 10%;
        display: flex;
        background-color: #252525;
    }

    .home {
        height: 100vh;
        background-size: contain;
        background-position: center;
    }

    .home-text h1 {
        font-size: 60px;
        transition: .5s;
    }

    .home-btn {
        padding: 8px 18px;
        transition: .5s;
    }

    #menu-icon {
        display: none;
    }

    .services {
        display: flex;
        flex-direction: row;
        padding: 0 5%;
        justify-content: center;
    }

    .images {
        width: 650px;
    }

    .img-1 {
        top: 70%;
    }

    .img-2 {
        top: 35%;
        transform: translateX(0%);
    }

    .img-3 {
        top: 60%;
    }
}

@media (max-width: 600px) {

    header {
        position: static;
    }

    #menu-icon {
        display: block;
        transition: .5s;
    }

    .home {
        height: 50%;
    }

    .home-text {
        padding: 0;
    }

    .home-text h5 {
        font-size: 20px;
    }

    .home-text h1 {
        font-size: 40px;
    }

    .home-text p {
        font-size: 15px;
    }


    .navlist {
        position: absolute;
        top: -500px;
        left: 0; right: 0;
        flex-direction: column;
        background-color: #030303;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }

    .navlist a {
        display: block;
        padding: 15px;
        margin: 8px;
        color: #ffff;
        border-bottom: 2px solid #ffff;
    }

    .navlist.open {
    top: 6%;
    }

    .images {
        width: 300px;
    }

    .vm__img, .pj__img, .ac__img {
        display: none;
    }

    .img-1 {
        top: 40%;
    }

    .img-2 {
        top: 25%;
        left: auto;
    }

    .img-3 {
        top: 33%;
    }

    .services {
        top: 60%;
    }

    #section-2 {
        top: 125%;
    }

    #section-3 {
        top: 175%;
    }

    .services-text h5 {
        font-size: 25px;
    }

    .services-text p {
        font-size: 14px;
    }
}